:root {
  --nav-bg: rgba(246, 246, 246, 0.95);
  --nav-font: #454A59;
  --header-font-color: #23293B;
  --main-border-color: #dee2e6;
  --main-font-color: #5E6164;
  --btn-bg-color: #22283A;
  --btn-font-color: #F6F6F6;
  --nav-bg-dark: #23293B;
  --nav-font-dark: #81848E;
  --header-font-color-dark: #F6F6F6;
  --main-border-color-dark: #81848E;
  --btn-bg-color-dark: #F6F6F6;
  --btn-font-color-dark: #22283A;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: var(--main-font-color);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: var(--header-font-color);
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  padding-top: 10rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.top-nav-container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 10rem;
  background: var(--nav-bg);
}
.top-nav-container nav {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 3.2rem;
}
.top-nav-container nav a {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--nav-font);
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro img {
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .intro img {
    width: 100%;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    margin: 2rem;
    width: 100%;
  }
  .home .space-images img + img {
    display: none;
  }
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
@media (max-width: 500px) {
  .home .visit-planets h3 {
    margin-top: 4px;
  }
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid var(--main-border-color);
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    padding: 0;
    margin: 20px 4%;
    flex-direction: column-reverse;
  }
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  display: inline-block;
  font-size: 1.8rem;
  border: 1px solid var(--btn-bg-color);
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  background: var(--btn-bg-color);
  color: var(--btn-font-color);
}
.home .walk .walk-text .btn:hover {
  background: var(--btn-font-color);
  color: var(--btn-bg-color);
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
  .home .walk .walk-text .btn {
    display: block;
    text-align: center;
    padding: 2.5rem 0;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    margin: 2rem 0;
    width: 100%;
  }
}
