// Mixins Here

// These two are just to satisfy the mix-in requirement
// because I couldn't find anything I was repeating that
// needed to be factored out ¯\_(ツ)_/¯

// .bar(3.2rem);
.bar(@gap, @direction: column) {
  display: inline-grid;
  grid-auto-flow: @direction;
  grid-gap: @gap;
}

// .wrapper(800px);
.wrapper(@width) {
  max-width: @width;
  width: 100%;
  margin: 0 auto;
}

// .button(@btn-bg-color, @wild-sand, true);
.button(@bg-color, @text-color, @invert) {
  display: inline-block;
  font-size: 1.8rem;
  border: 1px solid @bg-color;
  padding: 0.8rem 1.8rem;
  border-radius: 5px;
  background: @bg-color;
  color: @text-color;
  &:hover when (@invert = true) {
    background: @text-color;
    color: @bg-color;
  }
}